@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --verde-200: hsl(148, 38%, 91%);
    --verde-600: hsl(169, 82%, 27%);
    --vermelho: hsl(0, 66%, 54%);
    --White:hsl(0, 0%, 100%);
    --Grey-500: hsl(186, 15%, 59%);
    --Grey-900: hsl(187, 24%, 22%);
    --font-16: 1.6rem;
    --peso-400: 400;
    /* --peso-700: 700; */
}

html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}